.preloader {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.wrapper {
  display: flex;
  width: 700px;
  height: 200px;
  border: 4px solid #fff;
  border-radius: 20px;
  margin: 0 auto 50px;
}

.image__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 50px;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
}

.btn {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #32bf32;
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 7px;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #30d630;
}

.content {
}

.name {
  font-size: 26px;
  font-weight: 700;
  margin: 35px 0 5px;
  max-width: 400px;
}

.text {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px;
}