.text {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: rgb(162, 207, 36);
}

.textarea {
  font-family: inherit;
  width: 300px;
  height: 60px;
  color: rgb(212, 221, 208);
  background-color: transparent;
  padding: 5px 10px;
  resize: none;
  bottom: none;
  border: 1px solid rgb(212, 221, 208);
  display: block;
  outline: none;
  cursor: pointer;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  width: 100px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid rgb(212, 221, 208);
  outline: none;
  cursor: pointer;
}

.btn.first {
  margin-left: 25px;
  margin-right: 50px;
}