.posts {
  margin: 50px 0 50px 20px;
}

.posts__title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  border-bottom: 3px solid #fff;
  display: inline;
  margin-left: 15px;
  padding-bottom: 4px;
}

.textarea {
  font-size: 18px;
  width: 400px;
  min-height: 120px;
  color: rgb(212, 221, 208);
  background-color: transparent;
  display: block;
  margin-top: 25px;
  padding: 15px;
  border: 2px solid rgb(212, 221, 208);
  border-radius: 5px;
  resize: none;
  outline: none;
  cursor: pointer;
}

.btn {
  font-size: 18px;
  padding: 0 40px;
  height: 34px;
  color: #fff;
  background-color: transparent;
  margin-top: 20px;
  border: 2px solid rgb(212, 221, 208);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}