.wrapper {
  display: flex;
  padding-top: 50px;
  max-width: 600px;
}

.image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 25px;
}

.post__text {
  font-size: 24px;
  color: rgb(233, 213, 213);
  margin: 0;
}

.post__likesWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post__likes {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-right: 5px;
}

.post__likesImg {
  width: 16px;
  align-self: center;
}
