html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  font-weight: 400;
}

.main {
  position: relative;
}

.container {
  max-width: 1450px;
  padding: 0 25px;
  margin: 0 auto;
}

.background {
  min-height: 100vh;
  color: #fff;
  background-color: #2f1a5a;
  padding-top: 80px;
}

.wrapper {
  display: flex;
}

.border {
  width: 1300px;
  max-width: 100%;
  margin: 0 0 60px 40px;
  border: 6px solid #fff;
  border-radius: 30px;
  padding: 20px;
}

.wave {
  position: absolute;
  width: 100%;
  top: 114px;
  height: 30px;
  animation: waveAnimation 16s infinite linear;
  background: url(http://www.templates-preview.com/bootstrap-templates/300111854/images/wave1.png) 0 0 repeat-x;
}

@keyframes waveAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2000px 0;
  }
}