.dialogs__titleWrapper  {
  text-align: center;
  margin: 5px 0 30px;
}

.dialogs__title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 3px solid #fff;
  display: inline;
}

.wrapper {
  display: flex;
}

.userName {
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  margin: 0 0 15px 20px;
  display: block;
}

.messages {
  font-size: 22px;
  color: rgb(233, 213, 213);
  margin-left: 250px;
}

.message {
  margin: 0 0 15px;
  max-width: 300px;
  position: relative;
}

.message::before {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  position: absolute;
}

.message:nth-child(2n + 1)::before {
  background: hotpink;
}

.message:nth-child(2n)::before {
  background: yellowgreen;
}

.active {
  color: rgb(231, 207, 73);
  transition: 0.3s;
}

.textarea {
  font-size: 22px;
  width: 400px;
  min-height: 120px;
  color: rgb(233, 213, 213);
  background-color: transparent;
  display: block;
  margin: 25px 0 20px;
  padding: 15px;
  border: 2px solid rgb(212, 221, 208);
  border-radius: 5px;
  resize: none;
  outline: none;
  cursor: pointer;
}

.btn {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  width: 250px;
  height: 35px;
  color: #fff;
  background-color: transparent;
  margin: 0 auto 25px;
  border: 2px solid #fff;
  border-radius: 30px;
  display: block;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  color: #2f1a5a;
  background-color: #fff;
}